{%extends 'base1.html'%}
{%block head%}
<head>
  <title>Pubished Posts</title>
</head>
{%endblock%}
<header>
  {%block owner%}
  {% for owner in owners %}
      <h4> Welcome {{ owner.owner }}</h4>
  {%endfor%}
  {% endblock %}
</header>
<body>
  <div class="content">
    {%block content%}
    <h1>Published Posts</h1><br>
    <h1>Published Posts</h1><hr>
    {% for post in posts %}
    <ul>
      <li>
          <a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a> <br>( {{post.category}} | {{post.created_on |date }} )
      </li>
    </ul>
    {%endfor%}
    {%endblock%}
  </div>
</body>
