{%extends 'base_bootstrap.html'%}
{%block head%}
<head>
  <title>{{category | title}}</title>
</head>
{%endblock%}
{% block content %}
    <h1>{{ category | title }}</h1>
    <hr>
    {% for post in posts %}
        <h2><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }}
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
    {% endfor %}
{% endblock %}
